<section class="product">
  <div #productImage class="product-image" (click)="turnModalOn()">
    <img class="img" src="../../assets/images/image-product-1.jpg" alt="Product" loading="lazy">
    <img class="img" src="../../assets/images/image-product-2.jpg" alt="Product" loading="lazy">
    <img class="img" src="../../assets/images/image-product-3.jpg" alt="Product" loading="lazy">
    <img class="img" src="../../assets/images/image-product-4.jpg" alt="Product" loading="lazy">
    <img (click)="previous()" class="previous" src="../../assets/images/icon-previous.svg" alt="Previous" loading="lazy">
    <img (click)="next()" class="next" src="../../assets/images/icon-next.svg" alt="Next" loading="lazy">
  </div>
  <div #productThumbnails class="product-thumbnails">
    <img (click)="handleClickThumbnail($event, 0)" src="../../assets/images/image-product-1-thumbnail.jpg" alt="Thumbnail 1" loading="lazy">
    <img (click)="handleClickThumbnail($event, 1)" src="../../assets/images/image-product-2-thumbnail.jpg" alt="Thumbnail 2" loading="lazy">
    <img (click)="handleClickThumbnail($event, 2)" src="../../assets/images/image-product-3-thumbnail.jpg" alt="Thumbnail 3" loading="lazy">
    <img (click)="handleClickThumbnail($event, 3)" src="../../assets/images/image-product-4-thumbnail.jpg" alt="Thumbnail 4" loading="lazy">
  </div>
</section>
<section class="intro">
  <label for="product">{{ companyName }}</label>
  <h1 id="product">{{ productName }}</h1>
  <p>{{ productIntro }}</p>
  <div class="price">
    <h2>${{ price.toFixed(2) }} <span>{{ discount }}</span></h2>
    <h3>${{ originalPrice.toFixed(2) }}</h3>
  </div>
  <div class="btn">
    <div class="btn-plus-subtract">
      <img (click)="decrease()" src="../../assets/images/icon-minus.svg" alt="Minus" loading="lazy">
      <span>{{ numberOfItems }}</span>
      <img (click)="increase()" src="../../assets/images/icon-plus.svg" alt="Plus" loading="lazy">
    </div>
    <button #btnAdd class="btn-add" type="button" (click)="addItemsToCart()">
      <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
          fill="var(--pale-orange)"
          fill-rule="nonzero"
        />
      </svg>
      <span>Add to cart</span>
    </button>
  </div>
</section>
<section class="product-modal" #modal>
  <div class="product-modal-content">
    <svg (click)="closeModal()" width="14" height="15" xmlns="http://www.w3.org/2000/svg"><path d="m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z" fill="var(--pale-orange)" fill-rule="evenodd"/></svg>
    <div #productModalImage class="product-modal-content-image">
      <img src="../../assets/images/image-product-1.jpg" alt="Product" loading="lazy">
      <img src="../../assets/images/image-product-2.jpg" alt="Product" loading="lazy">
      <img src="../../assets/images/image-product-3.jpg" alt="Product" loading="lazy">
      <img src="../../assets/images/image-product-4.jpg" alt="Product" loading="lazy">
    </div>
    <div #productModalThumbnails class="product-modal-content-thumbnails">
      <img (click)="handleClickModalThumbnail($event, 0)" src="../../assets/images/image-product-1-thumbnail.jpg" alt="Thumbnail 1" loading="lazy">
      <img (click)="handleClickModalThumbnail($event, 1)" src="../../assets/images/image-product-2-thumbnail.jpg" alt="Thumbnail 2" loading="lazy">
      <img (click)="handleClickModalThumbnail($event, 2)" src="../../assets/images/image-product-3-thumbnail.jpg" alt="Thumbnail 3" loading="lazy">
      <img (click)="handleClickModalThumbnail($event, 3)" src="../../assets/images/image-product-4-thumbnail.jpg" alt="Thumbnail 4" loading="lazy">
    </div>
  </div>
</section>
