<div class="navigation">
  <img (click)="openMenu()" src="../../assets/images/icon-menu.svg" alt="Menu" loading="lazy">
  <img src="../../assets/images/logo.svg" alt="Logo" loading="lazy">
  <nav #nav>
    <ul>
      <img (click)="closeMenu()" src="../../assets/images/icon-close.svg" alt="Close" loading="lazy">
      <li *ngFor="let nav of navigations">
        {{nav}}
      </li>
    </ul>
  </nav>
</div>
<div class="user-cart">
  <div class="cart">
    <img (click)="handleCart()" src="../../assets/images/icon-cart.svg" alt="Cart" loading="lazy">
    <span *ngIf="numOfItems !== 0">{{ numOfItems }}</span>
    <div #cartItems class="cart-items">
      <h1>Cart</h1>
      <div>
        <p *ngIf="numOfItems === 0">Your cart is empty</p>
        <div *ngIf="numOfItems !== 0">
        </div>
      </div>
    </div>
  </div>
  <img id="user" src="../../assets/images/image-avatar.png" alt="User" loading="lazy">
</div>
